# Declare files that will always have LF line endings on checkout.
* text=auto eol=lf

# Denote all files that are truly binary and should not be touched.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.bmp binary
*.pdf binary
