*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.tox
.coverage
.cache
.hypothesis
.mypy_cache
.dmypy.json
dmypy.json
.pyre
*.egg-info
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov
.nox
.spyderproject
.spyderworkspace
.ropeproject
.ipynb_checkpoints
profile_default
ipython_config.py
*.sage.py
celerybeat-schedule
instance
.webassets-cache
.scrapy
docs/_build
target
/site
.env
.venv
env
venv
ENV
env.bak
venv.bak
.python-version
*.log
local_settings.py
db.sqlite3
*.spec
*.manifest
dist
build
*.so
.DS_Store
Thumbs.db
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
